/* Assignment 1 CSS */

 /* .container{
    display: flex;
    flex-direction: column;
    width: 1000px;
    height: 600px;
}

.header{
    box-sizing: border-box;
    padding: 10px 10px;
    width: 100%;
    height: 200px;
    background-color: yellowgreen;
}


.main{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 300px;
}

.article{
    padding: 10px 10px;
    width: 60%;
    height: 300px;
    background-color: #fff;
}

.aside, .nav{
    padding: 10px 10px;
    width: 20%;
    height: 300px;
    background-color: #f5f6fa;
}

.nav{
    padding: 10px 10px;
    height: 300px;
    background-color: #dcdde1;
}

.footer{
    box-sizing: border-box;
    padding: 10px 10px;
    width: 100%;
    height: 200px;
    background-color: yellowgreen;
} */

/* Assignment 2 CSS */

/* .container{
    display: flex;
    height: 400px;
}

.nav{
    box-sizing: border-box;
    padding: 10px 10px;
    width: 20%;
    height: 400px;
    background-color: #82ccdd;
}

.rest{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 400px;
}

.header{
    padding: 10px 10px;
    width: 100%;
    height: 20%;
    background-color: yellowgreen;
}

.rst{
    display: flex;
    flex-direction: row;
    height: 80%;
    width: 100%;
}

.pt1{
    width: 75%;
    display: flex;
    flex-direction: column;
}
.article{
    padding: 10px 10px;
    width: 100%;
    height: 75%;
    background-color: yellow;
}

.footer{
    padding: 10px 10px;
    height: 25%;
    width: 100%;
    background-color: yellowgreen;
}
.pt2{
    display: flex;
    width: 25%;
    flex-grow: 1;
    flex-direction: column;
}
.aside{
    padding: 10px 10px;
    width: 100%;
    height: 400px;
    background-color: #dfe4ea;
}
 */

 /* Assignment 3 CSS */

 /* .container{
     width: 80%;
     margin-left: auto;
     margin-right: auto;
     display: flex;
     flex-direction: column;
     row-gap: 20px;
     height: 360px;
 }

 .main1, .main2, .main3{
     display: flex;
     flex-direction: row;
     height: 120px;
     width: 100%;
}


.cont1, .cont2, .cont3{
    width: 33.3%;
}

.cont4, .cont6{
    width: 40%;
}

.cont5{
    width: 20%;
}

.cont7{
    width: 48%;
}

.cont8{
    width: 4%;
}

.cont9{
    width: 48%;
}

.cont1, .cont3, .cont4, .cont6, .cont7, .cont9{
    font-weight: 400;
    background-color: red;
}

.cont2, .cont5, .cont8{
    background-color: blue;
    font-weight: 600;
}

.cont1, .cont3, .cont4, .cont6, .cont7, .cont9, .cont2, .cont5, .cont8{
    display: flex;
    height: 120px;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: wheat;
} */

/* Assignment 4 CSS */

.container{
    display: flex;
    /* flex-direction: row-reverse; */
    width: 600px;
    height: 100px;
    background-color: aqua;
    border: 1px solid black;
}

.box1, .box2, .box3, .box4, .box5{
    display: flex;
    width: 20%;
    height: 100px;
    align-items: center;
    justify-content: center;
    color: white;
}

.box1{
    background-color: #ffa502;
    order: 5;
}

.box2{
    background-color: #e84118;
    order: 3;
}
.box3{
    background-color: #d35400;
    order: 1;
}
.box4{
    background-color: #dcdde1;
    order: 4;
}
.box5{
    background-color: #718093;
    order: 2;
}
