/* Assignment 1 CSS */
*{
    padding: 0;
    margin: 0;
}


.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    font-size: 2rem;
}

.header{
    box-sizing: border-box;
    padding: 2% 2%;
    width: 100%;
    height: 20%;
    background-color: yellowgreen;
}


.main{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 60%;
}

.article{
    padding: 2% 2%;
    width: 60%;
    height: 100%;
    background-color: #f5f6fa;
}

.aside, .nav{
    padding: 2% 2%;
    width: 20%;
    height: 100%;
    background-color: #dffacebd;
}

.nav{
    padding: 2% 2%;
    background-color: #dff9fb;
}

.footer{
    box-sizing: border-box;
    padding: 2% 2%;
    width: 100%;
    height: 20%;
    background-color: yellowgreen;
}

@media(min-width: 541px) and (max-width: 720px) {
    .container{
        width: 100%;
        font-size: 1.5rem;
    }

    .main{
        box-sizing: border-box;
        width: 100%;
        flex-direction: column;
    }

    .article, .aside, .nav{
        box-sizing: border-box;
        width: 100%;
    }

}

@media(min-width: 240px) and (max-width: 540px) {
    .container{
        font-size: 1.5rem;
    }

    .main{
        flex-direction: column;
    }

    .article, .aside, .nav{
        width: 100%;
    }

    .footer{
        width: 100%;
    }
}
*/

/* Assignment 2 CSS */
/*
 .container{
     width: 100%;
    display: flex;
    height: 100vh;
}

.nav{
    box-sizing: border-box;
    padding: 10px 10px;
    width: 20%;
    height: 100%;
    background-color: #c7ecee;
}

.rest{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 400px;
}

.header{
    padding: 10px 10px;
    width: 100%;
    height: 20%;
    background-color: yellowgreen;
}

.rst{
    display: flex;
    flex-direction: row;
    height: 80%;
    width: 100%;
}

.pt1{
    width: 80%;
    display: flex;
    flex-direction: column;
}
.article{
    padding: 10px 10px;
    width: 100%;
    height: 75%;
    background-color: white;
}

.footer{
    padding: 10px 10px;
    height: 25%;
    width: 100%;
    background-color: yellowgreen;
}
.pt2{
    display: flex;
    width: 20%;
    flex-grow: 1;
    flex-direction: column;
}
.aside{
    padding: 10px 10px;
    width: 100%;
    height: 400px;
    background-color: #dfe4ea;
}

@media(min-width: 540px) and (max-width: 720px) {

}



*/

 /* Assignment 3 CSS */

 /* .container{
     width: 80%;
     margin-left: auto;
     margin-right: auto;
     display: flex;
     flex-direction: column;
     row-gap: 20px;
     height: 360px;
 }

 .main1, .main2, .main3{
     display: flex;
     flex-direction: row;
     height: 120px;
     width: 100%;
}


.cont1, .cont2, .cont3{
    width: 33.3%;
}

.cont4, .cont6{
    width: 40%;
}

.cont5{
    width: 20%;
}

.cont7{
    width: 48%;
}

.cont8{
    width: 4%;
}

.cont9{
    width: 48%;
}

.cont1, .cont3, .cont4, .cont6, .cont7, .cont9{
    font-weight: 400;
    background-color: red;
}

.cont2, .cont5, .cont8{
    background-color: blue;
    font-weight: 600;
}

.cont1, .cont3, .cont4, .cont6, .cont7, .cont9, .cont2, .cont5, .cont8{
    display: flex;
    height: 120px;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: wheat;
} */

/* Assignment 4 CSS */
/*
.container{
    display: flex;
    width: 600px;
    height: 100px;
    border: 1px solid black;
}

.box1, .box2, .box3, .box4, .box5{
    display: flex;
    width: 20%;
    height: 100px;
    align-items: center;
    justify-content: center;
    color: white;
}

.box1{
    background-color: #ffa502;
    order: 5;
}

.box2{
    background-color: #e84118;
    order: 3;
}
.box3{
    background-color: #d35400;
    order: 1;
}
.box4{
    background-color: #dcdde1;
    order: 4;
}
.box5{
    background-color: #718093;
    order: 2;
} */